<div class="filter_box"> 
    <div class="filter_header">
      <h2>Filter</h2>
    </div>
    <div class="contri_type">
      <h3>
        Contributor Type
      </h3>

    </div>
  <ul class="filter">
    <li {% if page.url contains "developer" %} class="active1" {% endif%}><a href="developers.html" >Developers</a> </li>
    <li {% if page.url contains "designer" %} class="active1" {% endif%}><a href="designers.html" >Designers</a> </li>
    <li {% if page.url contains "writer" %} class="active1" {% endif%}><a href="writer.html" >Communications</a> </li>
    <li {% if page.url contains "project" %} class="active1" {% endif%}><a href="projects.html" >All</a> </li>
</ul>
<hr>
<div class="FOI_type">
    <h3>
      Field Of Interest
    </h3>

  </div>
  <ul class="filter">
    <li {% if page.url contains "education" %} class="active1" {% endif%}><a href="FOI_education.html" >Education</a> </li>
    <li {% if page.url contains "environment" %} class="active1" {% endif%}><a href="FOI_environmental.html" >Environment</a> </li>
    <li {% if page.url contains "medical" %} class="active1" {% endif%}><a href="FOI_medical.html" >Medical</a> </li>
    <li {% if page.url contains "multimedia" %} class="active1" {% endif%}><a href="FOI_multimedia.html" >Multimedia</a> </li>
    <li {% if page.url contains "technology" %} class="active1" {% endif%}><a href="FOI_technology.html" >Technology</a> </li>
    <li {% if page.url contains "project" %} class="active1" {% endif%}><a href="projects.html" >All</a> </li>
  </ul>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
   
    
      $(function () {
       
            $(location).attr('pathname');
            console.log(location)
            console.log("clicked");
            $(this).next().removeClass("hide");
        });
  
   
   
      </script>
