<div class="filter_box"> 
    <div class="filter_header">
      <h2>Filter</h2>
    </div>
    <div class="contri_type">
      <h3>
        Contributor Type
      </h3>

    </div>
  <ul>
    <li><a href="{% link developers.md %}" class="filter">Developers</a> </li>
    <li><a href="{% link designers.md %}" class="filter">Designers</a> </li>
    <li><a href="{% link developers.md %}" class="filter">hello</a> </li>
    <li><a href="{% link developers.md %}" class="filter">hello</a> </li>
    <li><a href="{% link developers.md %}" class="filter">hello</a> </li>
    <li><a href="{% link developers.md %}" class="filter">hello</a> </li>
    <li><a href="{% link developers.md %}" class="filter">hello</a> </li>
  <li><a href="{% link developers.md %}" class="filter">hello</a> </li>
</ul>
</div>