<div class="footerLink">
    <img class="left-banner" src="assets/images/Mask Group 2.png">
    <img class="right-banner" src="assets/images/Mask Group 3.png">
    <div class="f-text">
    <h2 class="f-title">Join Contributor.Link</h2>
   
    <p class="f-desc"> If your project is looking for contributors of any kind, fill out this form if you would like to participate in Contributor.Link! </p>
    <button class="footer-button" onclick="location.href='https://forms.gle/ccZbgwe2owLKX5FN8'" type="button"> Get Started </button>   
 
    </div>
    
  </div>