header.page-header-about{
    margin-top: 4rem;
    position: relative;
    background-color: #F2F2F2;
    height: 430px;  
    
   
}
.about-container{
    display: flex;
    justify-content: space-between;

}

.about-banner{
    
   
   width: 40rem;
    height: 420px;
    position: absolute;
    right: 0;
}



.circle-photo{
    margin-right: 370px;
    height: 451px;
    width: 451px;
    border-radius: 50%;
    margin-top: 5px;
    box-shadow: -15px 8px 0 3px #2F7879;
    z-index: 1;
}
.about-tagline{
    
    margin: 30px 294px 30px;
    background-color: #F2F2F2;
    height: 200px;  
    width: 33rem;
    z-index: 1;
    
    h1{
        font-size: 38px;
    }
    p{
        font-size: 18px;
    }
}