footer {
    text-align: center;
    height: 72px;
	background-color: $footer-body;
	text-decoration: none;
    opacity: 1;
    
}

.footerLogo{
    margin-top: 20px ;
    height: 30px;  
}  

.footerLink{
    padding-top: 20px;
    height: 355px;
    background-color: #F0F0F0;
    position: relative;
    display: grid;
    overflow: hidden;
    

}

.left-banner{
    position: absolute;
    height: 355px;
    opacity: 0.9;
    width: 666px;
    left: -241px;
    
 
}
.right-banner{
    top: 0px;
    position: absolute;
    height: 350px;
    opacity: 0.9;
    right: -241px;
    width: 666px;
}


.f-text{
    padding-top: 10px;
    text-align: center;
    display: grid;
    color: #151515;
    grid-template-columns: auto  ;
    grid-template-rows: 60px 120px 100px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
       
}

.f-title{
    display: grid;
    color: #151515;
    font-size: 28px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
   
}

.f-desc{
    color: #151515;
    font-size: 18px;    
    width: 50%;
}

.footer-button{
    border: 2px;
    border: 2px solid #151515;
    color: #151515;
    height: 56px;
    width: 152px;
    background-color: #F0F0F0;
   
}
