
.page-header {
    position: relative;
    display: flex;
    
    background-image: url('/assets/images/contributor-link-header.png');
    height: 530px;
    overflow: hidden !important;
}
.iconBG{
    position: absolute;
    top:0;
    margin-top: 4.47rem;
    left: 0;
    overflow: hidden;
    clip: rect(0px,1909px,1000px,0px);
}
.overflow{
    margin-top: 25px !important;
    overflow: hidden ;
}
.icon{
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
  
}
a {
    color: rgba(76, 139, 140, 1);
  }
  
  a:hover {
    text-decoration-color: rgba(76, 139, 140, 0.5);
  }
  
  .h-logo{
      position: absolute;
      padding-top: 10px;
      left: 109px;
      width: 150px;
  }
  
  .body-left{
      position: absolute;
      top: 904px;
      left: -37px;
      width: 360px;
      height: 310px;
      z-index: -1;
  }
  .body-right{
      position: absolute;
      top: 596px;
      right: 0px;
      width: 360px;
      height: 308px;
    
   
  }
  
  