---
layout: contri
---
	  
 
	  
    <header class="page-header-about" role="banner">
      <div class="about-container">
        <div class="about-tagline">  
          <h1>Building stronger communities</h1>  
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis provident impedit quisquam, suscipit quo officia. </p>
           </div>
        <div class="circle-photo" >
          <img src="assets/images/CC-computer-collab.png">
        </div>
       <div class="about-banner"> <img class="about-banner" src="assets/images/Mask Group 3.png"></div>
       </div>
    </header>



    <main id="content" class="main-content" role="main">
     
      <div class="overflow"> {{ content }}
      </div>

     

    </main>
 

