---
layout: essential
---
	  
      {% if site.data.navigation %}

        <div class="wrapper">
          <img class="h-logo" src="{{ site.hlogo }}">

          <div class="nav-wrap">
            
            {% include nav.html role="navigation" %}
          </div>
        </div>
	
      {% endif %}
	  
    <header class="page-header" role="banner">

      {% if site.logo %}
        <img class="icon" id="logo" src="{{ site.logo }}">
      {% else %}
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      {% endif %}
 
    </header>



    <main id="content" class="main-content" role="main">
      <img class="body-left" src="assets/images/illo-2.svg">
      <img class="body-right" src="assets/images/illo-1.svg">
  
      <div class="overflow"> {{ content }}
      </div>

    </main>
  {% include footer-banner.html %}
  </body>
  {% include footer.html %}
