---
layout: contri
---
	  
    <header class="page-header-project" role="banner">
        
        <span class="circle-project"></span>
        <img class="circle-photo-small" src="assets/images/CC-women-entreprenurs.png">
        <img class="circle-photo-big" src="assets/images/5404766001_f6c4b44db4_b.png">
        <img class="project-pen" src="assets/images/pen.svg">
        <img class="project-mic" src="assets/images/mic.svg">
        <img class="project-quote" src="assets/images/quote.svg">

      <div class="project-tagline">  
      <h1>Building stronger communities</h1>  
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis provident impedit quisquam, suscipit quo officia. </p>
       </div>
       
     
    </header>




    <main id="content" class="main-project" role="main">
     
   
        {% include filter/FOI_medium.html %}
    
      <div class="card-width">
        {% include filter/FOI_medical.html %}

      </div>

    </main>
 
 
  
