---
layout: contri
---
	  
    <header class="page-header-resources" role="banner">
        <div class="resources-container">
            <div class="resources-tagline">  
                <h1>Building stronger communities</h1>  
                <p>Connecting passions, ideas, and people with open source communities for collaboration and innovation</p>
                 </div>
                 <div class="resources-img">
                  <img  src="assets/images/Connection illo.svg">
                </div>
        </div>
 
    </header>



    <main id="content" class="main-content" role="main">
     
      <div class="overflow"> {{ content }}
    </div>

     

    </main>
 

